{% load static %}{% load bootstrap4 %}
<!DOCTYPE html><html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
{% bootstrap_css %}

<header>
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
</header>
<body>
{% if user.is_authenticated %}
    <ul class="dropdown_menu">
        <a class="item_menu" href="{% url 'main:index' %}">Главная</a>
        <a class="item_menu" href="{% url 'main:service' %}">Услуги</a>
        <a class="item_menu" href="{% url 'main:about' %}">О нас</a>
        <a class="item_menu" href="{% url 'main:contacts' %}">Контакты</a>
        <a class="item_menu" href="{% url 'main:create_service' %}">Добавить услугу</a>
        <a class="item_menu" href="{% url 'main:basket' %}">Ваша корзина</a>
        <a class="item_menu" href = "{% url 'main:logout' %}">Выйти</a>
    </ul>
{% else %}
    <ul class="dropdown_menu">
        <a class="item_menu" href="{% url 'main:index' %}">Главная</a>
        <a class="item_menu" href="{% url 'main:service' %}">Услуги</a>
        <a class="item_menu" href="{% url 'main:about' %}">О нас</a>
        <a class="item_menu" href="{% url 'main:contacts' %}">Контакты</a>
        <a class="item_menu" href="{% url 'main:login' %}">Войти</a>
        <a class="item_menu" href="{% url 'main:register' %}">Зарегистрироваться</a>
    </ul>
{% endif %}
{% block content%}

{% endblock %}
</body>
