{% load static %}
<!DOCTYPE html><html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


<header>
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
</header>
<body>
{% if user.is_authenticated %}
    <ul class="dropdown_menu">
        <a class="item_menu" href="{% url 'main:index' %}">home</a>
        <a class="item_menu" href="{% url 'main:service' %}">products</a>
        <a class="item_menu" href="{% url 'main:about' %}">About us</a>
        <a class="item_menu" href="{% url 'main:contacts' %}">Contacts</a>
        <a class="item_menu" href="{% url 'main:create_service' %}">Add a product</a>
        <a class="item_menu" href="{% url 'main:basket' %}">Basket</a>
        <a class="item_menu" href = "{% url 'main:logout' %}">Log out</a>
    </ul>
{% else %}
    <ul class="dropdown_menu">
        <a class="item_menu" href="{% url 'main:index' %}">home</a>
        <a class="item_menu" href="{% url 'main:service' %}">products</a>
        <a class="item_menu" href="{% url 'main:about' %}">About us</a>
        <a class="item_menu" href="{% url 'main:contacts' %}">Contacts</a>
        <a class="item_menu" href="{% url 'main:login' %}">Log in</a>
        <a class="item_menu" href="{% url 'main:register' %}">Register</a>
    </ul>
{% endif %}
{% block content%}

{% endblock %}
</body>
