{% extends 'layout/basic.html' %}
{% load static %}
{% block content %}
    <h2>Basket:</h2>
    {% if user.is_authenticated %}
        {% if user.basket.all %}
            <ul>
                {% for product in user.basket.all %}
                    <li><b>description:</b> {{ product.description }}</li>
                    <b>image:</b> <img src="{{ product.photo.url }}">
                {% endfor %}
            </ul>
        {% else %}
            <p>Nothing in basket</p>
        {% endif %}
    {% else %}
        <p>Log in please</p>
    {% endif %}
{% endblock %}
