{% extends 'layout/basic.html' %}
{% load static %}
{% load bootstrap4 %}
{% block content %}
    <h2>Корзина товаров:</h2>
    {% if user.is_authenticated %}
        {% if user.basket.all %}
            <ul>
                {% for product in user.basket.all %}
                    <li><b>Описание:</b> {{ product.description }}</li>
                    <b>Изображение:</b> <img src="{{ product.photo.url }}" width="300px" height="300px">
                {% endfor %}
            </ul>
        {% else %}
            <p>Корзина пуста</p>
        {% endif %}
    {% else %}
        <p>Вы не авторизованы</p>
    {% endif %}
{% endblock %}
