{% extends 'layout/basic.html' %}
{% load static %}
{% load bootstrap4 %}
{% block content %}
{% if products %}
    {% for product in products %}
        <p><b>Description:</b> {{ product.description }}</p>
        <b>Image:</b> <img src="{{ product.photo.url }}" width="150px" height="150pxs">
        {% if user.is_authenticated %}
            <br>
            {% if product in user.advuser.basket.all %}
                <p>In basket yet</p>
            {% else %}
                <form method="post" action="{% url 'main:add_to_basket' product.id %}">
                    {% csrf_token %}
                    <button class="btn btn-outline-secondary" type="submit">Add to basket</button>
                </form>
            {% endif %}
        {% endif %}
    {% endfor %}
{% else %}
    <h3>Nope :(</h3>
{% endif %}
{% endblock %}
