{% extends 'layout/basic.html' %}
{% load static %}
{% load bootstrap4 %}
{% block content %}
{% if products %}
    {% for product in products %}
        <p><b>Описание товара:</b> {{ product.description }}</p>
        <b>Изображение товара:</b> <img src="{{ product.photo.url }}" width="300px" height="300px">
        {% if user.is_authenticated %}
            <br>
            {% if product in user.advuser.basket.all %}
                <p>Уже в корзине</p>
            {% else %}
                <form method="post" action="{% url 'main:add_to_basket' product.id %}">
                    {% csrf_token %}
                    <button type="submit">Добавить в корзину</button>
                </form>
            {% endif %}
        {% endif %}
    {% endfor %}
{% else %}
    <h3>Пусто :(</h3>
{% endif %}
{% endblock %}
